.number{
    background: linear-gradient( to left top , rgb(179, 89, 89), #676ca1);
    padding: 25px 0;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.number .row{
    margin: 0;
    
}
.number h2{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
    color:#fff;
}
.number h6{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1;
}
.row{
    padding-top: 50px ;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    
}
.row1{
    flex: 1;
    text-align: center;
    height:auto
    
}
.row2{
    flex:1;
    
}
.row2 img{
    width: 100%;
    height: 350px;
    padding-top: 40px;
    z-index: 1;
    cursor: pointer;
    
}
.hov{
    background: linear-gradient( to left top , rgb(179, 89, 89), #676ca1);
    opacity: 1;
    width: 100%;
    height: 0%;
    z-index: -1;
   
    
}
 .hov:hover{
    width: 100%;
    height: 100%;
    transition: 0.7s ease;
  
}

.title1{
    display: block;
    padding-top: 40px;
    font-size: 35px;
    color: steelblue;
    height: 15px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;
}
.roww span{
    font-weight: bolder;
    color: steelblue;
    cursor: pointer;
}
.roww p{
    text-transform: uppercase;
    line-height: 25px;
    margin: 40px;
    z-index: 1;
    letter-spacing: 1px;
    padding-top: 20px;
}
.btn-1{
    text-align: center;
    border: 1px solid;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px;
    border-radius: 20px;
    margin: 0px 10px 35px 0px;
    width: 130px;
    background: linear-gradient(#e66465, #9198e5);
    
}
 
.btn-1:hover{
    transition: 0.3s all ease;
    background: linear-gradient(rgb(126, 126, 160), rgb(185, 108, 108));
}
.btn-select:hover a{
    text-decoration: none;
    color: black;
}
    .meal img{
        width: 100%;
        height: 250px;
        border: 2px solid;
    }
        
    

  .meal{
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.api-item h2{
    text-transform: uppercase;
    margin: 0;
    color: steelblue ;
}
.api-item h6{
    text-transform: uppercase;
    margin: 0;
}
.api-item span{
    text-transform: uppercase;
    margin: 0;
    color: red;
}
.titel-meal h2{
   text-transform: uppercase;
   font-size: 70px;
   color: steelblue ;
   text-align: center;
   
   
}
.br{
    display: block;
    width: 40%;
    height: 2px;
    background-color: black;
}
.titel-meal{
    display: contents;
    margin: auto;
    width: 700px;
    height: 100px;
}
.btn-select{
    margin-left: 100px;
    width: 110px;
    height: 30px;
}
.btn-select a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.api-item h3{
    color: red;
    text-decoration: line-through;
}
.api-item {
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.contan{
    border-bottom: 2px solid ;
    margin-bottom: 100px;
}
.about{
    padding-bottom: 300px;
}