

.footer{
    background: linear-gradient(#e66465, #9198e5);
    width: 100%;
    height: auto;

}
.footer i{
   padding-top: 20px ; 
    margin: 10px;
    

}
.footer img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0;
    padding: 0;
    
}
.footer h5{
margin-top: 25px;
margin-left: 17px;
margin-bottom: -10px;

}

.footer ul li {
    font-size: 15px;
    padding: 0;
    margin-bottom: -33px;
    list-style:inside;
    line-height: 20px;
    list-style-type: disclosure-closed;
}
.line-span{
    display: block;
    width: 50%;
    height: 2px;
    background-color: black;
}
@media(max-width:586px){
    .letsgo{
        padding-left: 100px;
    }
    h5{
        padding-left: 40px;
    }
}

